workspaces-streamlit-template
build
myenv
build.log
run_app.spec
clean-up-workspaces.log
*-embed-amd64
get-pip.py
run_app.bat
python*
**/__pycache__/
gdpr_consent/node_modules/
*~
.streamlit/secrets.toml
docs/superpowers/
.venv/
_thirdparty/
CHEMISTRY/
python-3-10.0/
NuXL/
*.dll
OpenMS-NuXLApp.lnk
*.exe
*.bat
bash.exe.stackdump
build-arm64.log
build-amd64.log
build-arm.log
